<div class="domain-selector">
<button class="domain-selector-toggle">{{{domain.title}}}{{produce-version-indicator domain}}</button>
<div class="domain-selector-panel--wrapper">
<div class="domain-selector-panel">
<button class="domain-selector-close"></button>
{{#each site.domains}}
<div class="domain{{#if ./selected}} domain--current{{/if}}">
<div class="domain-title">{{{./title}}}</div>
<div class="domain-versions">
{{#each ./versions}}
<a class="domain-version{{#if ./selected}} domain-version--current{{/if}}" href="{{./url}}">{{./string}}{{#if ./latest}} (latest){{/if}}</a>
{{/each}}
</div>
</div>
{{/each}}
</div>
</div>
</div>
