<main role="main" class="main-wrapper">
  <div class="navigation-wrapper">
    <nav role="navigation" class="navigation">
      <div class="search">
        <input type="text" placeholder="Search the docs" class="search-input" autocomplete="off" autocorrect="off" autocapitalize="off">
      </div>
      <div class="inner-nav" data-domain="{{domain.name}}" data-version="{{domain.version.string}}">
        {{> navigation }}
      </div>
    </nav>
  </div>
  <article class="primary-content">
    <header class="article-header">
      {{#if siteRootUrl}}<a href="{{siteRootUrl}}" class="home-link"></a>{{/if}}
      {{> domain-version-selector }}
      <div class="breadcrumb">
        {{#each breadcrumbs}}
          {{#if ./url}}
            <span class="breadcrumb-item-wrapper"><a class="breadcrumb-item" href="{{./url}}">{{{./title}}}</a></span>
          {{else}}
            <span class="breadcrumb-item-wrapper"><span class="breadcrumb-item">{{{./title}}}</span></span>
          {{/if}}
          {{#unless @last}}<span class="breadcrumb-sep">/</span>{{/unless}}
        {{/each}}
      </div>
      {{> page-version-selector }}
      <div class="edit-this-page">
        <a href="{{editUrl}}" class="edit-this-page-link" title="Edit on GitHub">Edit</a>
      </div>
    </header>
    <h1>{{title}}</h1>
    {{{contents}}}
  </article>
</main>
