<main role="main" class="main-wrapper">
  <div class="navigation-wrapper">
    <nav role="navigation" class="navigation">
      <div class="search">
        <input type="text" placeholder="Search the docs" class="search-input" autocomplete="off" autocorrect="off" autocapitalize="off">
      </div>
      <div class="inner-nav">
        {{> navigation }}
      </div>
    </nav>
  </div>
  <article class="primary-content">
    <header class="article-header">
      <div class="breadcrumb">
        <select id="domain-version-selector">
          {{#each domainVersionIndex }}
            <optgroup label="{{this.domain}}">
              {{#each this.versions }}
                <option value="{{this.href}}"{{#if this.selected}} selected{{/if}}>
                  {{../this.domain}} @ {{this.version}}
                </option>
              {{/each}}
            </optgroup>
          {{/each}}
        </select>
        {{#each breadcrumbs }}
          <a class="breadcrumb-item" href="{{this.href}}">{{{this.label}}}</a> /
        {{/each}}
        <span class="breadcrumb-item">{{title}}</span>
      </div>
      <div class="edit-on-github">
        <a href="{{github-edit-url}}" class="edit-on-github-link">Edit on Github</a>
      </div>
    </header>
    <h1>{{title}}</h1>
    {{{contents}}}
  </article>
</main>
