<main role="main" class="main-wrapper">
  <div class="navigation-wrapper">
    <nav role="navigation" class="navigation">
      <div class="search">
        <input type="text" placeholder="Search the docs" class="search-input" autocomplete="off" autocorrect="off" autocapitalize="off">
      </div>
      <div class="inner-nav" data-domain="{{domain}}" data-version="{{version}}">
        {{> navigation }}
      </div>
    </nav>
  </div>
  <article class="primary-content">
    <header class="article-header">
      {{>domain-version-selector}}
      <div class="breadcrumb">
        {{#each breadcrumbs }}
          {{#if this.href}}
            <span class="breadcrumb-item-wrapper"><a class="breadcrumb-item" href="{{this.href}}">{{{this.label}}}</a></span>
          {{else}}
            <span class="breadcrumb-item-wrapper"><span class="breadcrumb-item">{{{this.label}}}</span></span>
          {{/if}}
          {{#unless @last}}<span class="breadcrumb-sep">/</span>{{/unless}}
        {{/each}}
      </div>
      {{>page-version-selector}}
      <div class="edit-on-github">
        <a href="{{github-edit-url}}" class="edit-on-github-link">Edit on Github</a>
      </div>
    </header>
    <h1>{{title}}</h1>
    {{{contents}}}
  </article>
</main>
